[Desktop Entry]
Name=TmaxGooroom
X-KDE-PluginInfo-Name=TmaxGooroom
X-KDE-PluginInfo-Author=Tmax
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPLv2+
